.container {
    background-image: url(../assets/imgs/aerial-architecture-black-and-white-700974.jpg);  
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute

}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 50px;
    padding: 50px; 
}

.maintitle {
    text
}

.navhome {
    background-image

}



